<div>
  client-list-window works!
  <button (click)="loadClicked()">Load hello world message</button>
</div>
<div *ngIf="helloMessage">
  {{helloMessage}}
</div>

<button (click)="fullListClicked()">Заполни список!</button>
<button (click)="deleteClicked()" [disabled]="!selectedId">Удалить</button>

<table class="clientList">
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Возвраст</th>
  </tr>
  <tr *ngIf="clientList  && clientList.length === 0" class="empty">
    <td colspan="3">Нет данных!</td>
  </tr>
  <tr *ngIf="!clientList" class="wait">
    <td colspan="3">Загрузка данных...</td>
  </tr>
  <tr *ngFor="let record of clientList" [class.selected]="record.id === selectedId" (click)="selectedId = record.id">
    <td>{{record.surname}}</td>
    <td>{{record.name}}</td>
    <td>{{record.age}}</td>
  </tr>
</table>
