<div>
  client-list-window works!
  <button (click)="loadClicked()">Load hello world message</button>
</div>
<div *ngIf="helloMessage">
  {{helloMessage}}
</div>

<button (click)="fullListClicked()">Заполни список!</button>

<table class="clientList">
  <tr>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Возвраст</th>
  </tr>
  <tr>
    <td>Иванов12423346345</td>
    <td>Иван7785675677</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Иванов</td>
    <td>Иван</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Иванов</td>
    <td>Иван</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Иванов</td>
    <td>Иван</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Иванов</td>
    <td>Иван</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Иванов</td>
    <td>Иван</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Иванов</td>
    <td>Иван</td>
    <td>12</td>
  </tr>
  <tr class="selected">
    <td>Иванов</td>
    <td>Иван</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Иванов</td>
    <td>Иван</td>
    <td>12</td>
  </tr>
  <tr>
    <td>Иванов</td>
    <td>Иван</td>
    <td>12</td>
  </tr>
</table>
